<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python video streaming</title>
</head>

<body>
    <div>
        <h3>Performance Data</h3>
        <div>Time budget: <span id="val-time-budget">0</span> ms</div>
        <div>Pre-processing time: <span id="val-prep-time">0</span> ms</div>
        <div>Prepare frame time: <span id="val-cache-time">0</span> ms</div>
        <div>Compute odometry time: <span id="val-compute-time">0</span> ms</div>

        <h3>Translation</h3>
        <div>X (forwards/backwards): <span id="val-x">0</span></div>
        <div>Y (right/left): <span id="val-y">0</span></div>
        <div>Z (down/up): <span id="val-z">0</span></div>

        <h3>Rotation</h3>
        <div>Roll: <span id="val-roll">0</span></div>
        <div>Pitch: <span id="val-pitch">0</span></div>
        <div>Yaw: <span id="val-yaw">0</span></div>
    </div>
</body>

</html>
